<div class="map-canvas"></div>
<div class="markers" style="display: none;">
  <ul>
    {{#each _markers itemView=markerViewClass}}
      <li>{{title}} @ {{lat}},{{lng}}</li>
      {{#if view.hasInfoWindow}}
        {{view 'google-map/info-window'}}
      {{/if}}
    {{/each}}
  </ul>
  <ul>
    {{each _infoWindows itemView=infoWindowViewClass}}
  </ul>
</div>
