<div class="map-canvas"></div>
<div style="display: none;">
  <ul>
    {{#each _markers itemViewClass=markerViewClass as |marker|}}
      {{#view markerViewClass context=marker}}
        <li>{{marker.title}} @ {{marker.lat}},{{marker.lng}}</li>
        {{#if view.hasInfoWindow}}
          {{view 'google-map/info-window' context=marker}}
        {{/if}}
      {{/view}}
    {{/each}}
  </ul>
  <ul>
    {{#each _infoWindows as |iw|}}
      {{view infoWindowViewClass context=iw}}
    {{/each}}
  </ul>
  <ul>
    {{#each _polylines as |polyline|}}
      {{view polylineViewClass context=polyline}}
    {{/each}}
  </ul>
  <ul>
    {{#each _polygons as |polygon|}}
      {{view polygonViewClass context=polygon}}
    {{/each}}
  </ul>
  <ul>
    {{#each _circles as |circle|}}
      {{view circleViewClass context=circle}}
    {{/each}}
  </ul>
</div>
