<div class="map-canvas"></div>
<div style="display: none;">
  <ul>
    {{#each _markers itemViewClass=markerViewClass as |marker|}}
      <li>{{marker.title}} @ {{marker.lat}},{{marker.lng}}</li>
      {{#if view.hasInfoWindow}}
        {{view 'google-map/info-window' context=marker}}
      {{/if}}
    {{/each}}
  </ul>
  <ul>
    {{#each _infoWindows as |iw|}}
      {{view infoWindowViewClass context=iw}}
    {{/each}}
  </ul>
  <ul>
    {{#each _polylines itemViewClass=polylineViewClass as |polyline|}}
    {{/each}}
  </ul>
  <ul>
    {{#each _polygons itemViewClass=polygonViewClass as |polygon|}}
    {{/each}}
  </ul>
  <ul>
    {{#each _circles itemViewClass=circleViewClass as |circle|}}
    {{/each}}
  </ul>
</div>
