<div class="map-canvas"></div>
<div style="display: none;">
  <ul>
    {{#each marker in _markers itemViewClass=markerViewClass}}
      <li>{{marker.title}} @ {{marker.lat}},{{marker.lng}}</li>
      {{#if view.hasInfoWindow}}
        {{view 'google-map/info-window' context=marker}}
      {{/if}}
    {{/each}}
  </ul>
  <ul>
    {{each iw in _infoWindows itemViewClass=infoWindowViewClass}}
  </ul>
  <ul>
    {{each polyline in _polylines itemViewClass=polylineViewClass}}
  </ul>
  <ul>
    {{each circle in _circles itemViewClass=circleViewClass}}
  </ul>
</div>
